{% extends "index.html" %}

{% block titulo %}
    Controle de entregas - Todos os entregadores
{% endblock %}
{% block conteudo %}
<h1>Membros</h1>
      <div class="tabela-header">
        <span class="col-id">ID</span>
        <span class="col-codigo">Código</span>
        <span class="col-nome">Nome</span>
    </div>
    
<ul>
  {% for x in todos_membros %}
        <li>
          <a class="col-id">{{x.id}}</span>
          <a class="col-codigo">{{x.codigo}}</span>
          <a href="detalhe/{{ x.id }}" class="col-nome">{{x.nome}}</a>
      </li>  
  <!-- <li><a href="detalhe/{{ x.id }}">{{ x.nome }} {{ x.codigo }}</a></li> -->
  {% endfor %}
</ul>
{% endblock %}
